<!-- Loading -->
<div *ngIf="loading" class="d-flex justify-content-center">
    <mat-progress-spinner mode="indeterminate" diameter="48" color="primary"></mat-progress-spinner>
</div>

<!-- Контент -->
<div *ngIf="!loading" class="container">
    <h2 class="mb-4 text-center mat-display-medium">Категорії номерів</h2>

    <div class="row g-4">
        <div class="col-12" *ngFor="let roomType of roomTypes">
            <mat-card [attr.id]="'room-' + roomType.roomTypeId" class="room-card mat-elevation-z2"
                appearance="outlined">
                <div class="room-card__content d-flex flex-column flex-lg-row align-items-stretch">
                    <!-- Description -->
                    <div class="room-card__info flex-fill pe-lg-4">
                        <mat-card-title>{{ roomType.roomCategory }}</mat-card-title>
                        <div class="room-card_description">
                            {{ roomType.description || 'Опис відсутній.' }}
                        </div>
                        <div class="room-card_price">
                            {{ roomType.pricePerNight | currency: 'UAH':'symbol' }} / ніч
                        </div>
                        <mat-card-actions>
                            <button mat-flat-button color="primary" (click)="onBook()">Забронювати</button>
                        </mat-card-actions>
                    </div>
                    <!-- Photo -->
                    <div class="room-card__image ms-lg-4 mt-4 mt-lg-0">
                        <img [src]="roomType.imageUrl || 'https://fakeimg.pl/600x400'" [alt]="roomType.roomCategory" />
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>