// Filled Error Button
.btn-error {
  --mdc-filled-button-container-color: var(--mat-sys-error);
  --mdc-filled-button-label-text-color: var(--mat-sys-on-error);
}

.btn-error:hover {
  --mdc-filled-button-container-color: var(--mat-sys-error-container);
  --mdc-filled-button-label-text-color: var(--mat-sys-on-error-container);
}

// Outlined Error Button
.btn-error-outline {
  --mdc-outlined-button-outline-color: var(--mat-sys-error);
  --mdc-outlined-button-label-text-color: var(--mat-sys-error);
}

.btn-error-outline:hover {
  --mdc-outlined-button-outline-color: var(--mat-sys-error-container);
  --mdc-outlined-button-label-text-color: var(--mat-sys-on-error-container);
}

// Tonal Error Button
.btn-error-tonal {
  --mdc-filled-tonal-button-container-color: var(--mat-sys-error-container);
  --mdc-filled-tonal-button-label-text-color: var(--mat-sys-on-error-container);
}

.btn-error-tonal:hover {
  --mdc-filled-tonal-button-container-color: var(--mat-sys-error);
  --mdc-filled-tonal-button-label-text-color: var(--mat-sys-on-error);
}
