<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <!-- Application logo or name -->
    <a class="navbar-brand" routerLink="/">Mini Hotel</a>

    <!-- Button for toggling the navigation on mobile devices -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Users</a>
        </li>
      </ul>
      <!-- Account controls: login and register links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>