@use "@angular/material" as mat;
@use "./styles/theme-colors" as tc;
@use "./styles/color-util.scss";
@use "./styles/btn-status";
@use "./styles/layout" as layout;
@use "./styles/tables" as tables;
@use "./styles/shared" as shared;
@use "./styles/forms" as forms;
@use "./styles/table-toolbar" as tbar;

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: tc.$primary-palette,
      tertiary: tc.$tertiary-palette,
      use-system-variables: true,
    ),
  )
);

html {
  @include tables.app-table-styles();
  @include mat.theme($my-theme);
  @include mat.all-component-themes($my-theme);
}

.app-container {
  @include layout.container;
}

.loading-centered {
  @include shared.loading-centered;
}

.app-form {
  @include forms.app-form-styles();
}

.table-toolbar {
  @include tbar.table-toolbar;
}
