@use "@angular/material" as mat;
@use "./styles/theme-colors" as tc;
@use "./styles/color-util.scss";
@use "./styles/btn-error.scss";

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: tc.$primary-palette,
      tertiary: tc.$tertiary-palette,
      use-system-variables: true,
    ),
  )
);

html {
  @include mat.theme($my-theme);
  @include mat.all-component-themes($my-theme);
}
